<app-main-container title="Enviar una Notificación" (infoButtonClick)="showInfo()">

        <form #form="ngForm" (ngSubmit)="enviar(form)">
            <div class="mb-3">
                <label class="form-label">Enviar a:</label>
                <input #email="ngModel" type="email" class="form-control" id="email" name="email" style="max-width: 400px;"
                [(ngModel)]="emailToSend"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                [ngClass]="{'is-invalid' : email.invalid && (email.dirty || email.touched), 'is-valid' : email.valid}"/>
                @if (email.invalid && (email.dirty || email.touched)) {
                    @if (email.getError('required')) {
                        <div class="text-danger"> Campo Obligatorio </div>
                    }
                    @if (email.getError('pattern')) {
                        <div class="text-danger"> Correo Inválido </div>
                    }
                }
            </div>
            <div class="mb-3">
                <label class="form-label">Asunto:</label>
                <input #asunto="ngModel" type="text" class="form-control" id="asunto" name="asunto" style="max-width: 400px;"
                [(ngModel)]="subject"
                required minlength="3"
                [ngClass]="{'is-invalid' : asunto.invalid && (asunto.dirty || asunto.touched), 'is-valid' : asunto.valid}"/>
                @if (asunto.invalid && (asunto.dirty || asunto.touched)) {
                    @if (asunto.getError('minlength')) {
                        <div class="text-danger"> Debe contener mínimo tres caracteres </div>
                    }@else {
                        <div class="text-danger"> Campo Obligatorio </div>
                    }
                }
            </div>

            <h6>Variables</h6>
            <div class="mb-3">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" style="max-width: 200px;"
                        [(ngModel)]="name"/>
                        <label class="form-label">Valor:</label>
                        <input type="text" class="form-control" id="valor" name="valor" style="max-width: 200px;"
                        [(ngModel)]="value"/>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary mb-3" (click)="addVariables()">+</button>
                        <br>
                        <h6>Tus Variables:</h6>
                        @for (item of variables; track $index) {
                            <p>Nombre: {{item.key}} Valor: {{item.value}}</p>
                        }
                    </div>
                </div>
            </div>
     
            <div>
                <h6>Plantillas</h6>
                <select #plantillas="ngModel" class="form-select" style="max-width: 200px;" name="plantillas" id="plantillas"
                [(ngModel)]="templateID"
                required
                [ngClass]="{'is-invalid': plantillas.invalid && (plantillas.dirty || plantillas.touched), 'is-valid': plantillas.valid && (plantillas.dirty || plantillas.touched)}">
                
                @for (item of templates; track $index) {
                    <option [value]=item.id> {{item.name}} </option>
                }
                </select>
                @if (plantillas.invalid && (plantillas.dirty || plantillas.touched)) {
                    @if (plantillas.getError('required')) {
                        <div class="text-danger"> Campo Obligatorio </div>
                    }
                }
            </div>
            <button type="button" class="btn btn-secondary mt-3" (click)="previewSelectedTemplate()">Previsualizar</button>
            <!-- Si encuentran otra forma de hacerlo, haganlo-->
            <div class="row"> 
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1">
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isLoading">
                    <ng-container *ngIf="isLoading; else sendButton">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Enviando...
                    </ng-container>
                    <ng-template #sendButton>
                      Enviar
                    </ng-template>
                  </button>
                </div>
            </div>

        </form>


</app-main-container>
<!-- Modal de previsualización -->
    <!-- Modal -->
<div class="modal-email" *ngIf="showModalToRenderHTML" (click)="closeModalToRenderHTML()">
    <div class="modal-content-email" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModalToRenderHTML()">&times;</span>
        <iframe #iframePreview style="width: 100%; border: none;"></iframe>
        <div class="mt-3 text-end">
          <button type="button" class="btn btn-secondary" (click)="closeModalToRenderHTML()">Aceptar</button>
        </div>
    </div>
  </div>


<!-- Modal de informacion -->
  <div [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ informationModalTitle }}</h5>
          <button type="button" class="btn-close" (click)="isModalOpen = false"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <!-- Introducción -->
            <div class="alert alert-info mb-2">
              <h5 class="alert-heading">Información sobre el Envío de Notificaciones</h5>
              <p class="mb-0 small">Esta página permite enviar notificaciones a uno o más contactos. Complete todos los campos requeridos antes de enviar la notificación.</p>
            </div>
  
            <!-- Descripción de los campos -->
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">Descripción de los Campos</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <strong>Enviar a:</strong> Dirección de correo electrónico del destinatario de la notificación.
                  </li>
                  <li class="list-group-item">
                    <strong>Asunto:</strong> Título de la notificación que se enviará al contacto.
                  </li>
                  <li class="list-group-item">
                    <strong>Plantillas:</strong> Seleccione una plantilla para personalizar el contenido de la notificación.
                  </li>
                </ul>
              </div>
            </div>
  
            <!-- Nota (OPCIONAL) -->
            <div class="alert alert-warning mb-0">
              <h5 class="alert-heading">Nota:</h5>
              <p class="mb-0 small">Asegúrese de que todos los campos estén completos antes de hacer clic en "Enviar".</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Volver</button>
        </div>
      </div>
    </div>
  </div>