<app-main-container title="Lista de Plantillas" (infoButtonClick)="showInfo()">


        <div class="d-flex justify-content-between align-items-center mb-3">
          <!-- Sección de búsqueda y filtros -->
          <div class="btn-group me-5" role="group">
            <div class="col-sm-12 col-md-8 col-xl-10" id="general-search">
              <div class="input-group" style="max-width: 280px">
                <span class="input-group-text mr-3" id="search-icon">
                  <i class="bi bi-search"></i>
                </span>
                <input
                [(ngModel)]="globalSearchTerm"
                  type="text"
                  class="form-control"
                  id="filter-text-box"
                  (input)="onGlobalSearchTextChange(globalSearchTerm)"
                  placeholder="Buscar..."
                />
                <app-table-filters [filters]="filterConfig" (filterValueChange)="filterChange($event)"  (clearFilters)="clearFilters()"></app-table-filters> 
              </div>
            </div>
          </div>

                  <!-- Botones de exportación -->
        <div class="col row d-flex justify-content-end mb-3">
          <div class="col-auto">
              <button type="button" (click)="saveEmailTemplate()" class="btn btn-outline-primary"
                  aria-expanded="false">
                  +
              </button>
          </div>

          <div class="col-auto">
              <button class="btn" (click)="exportToExcel()" style="background-color: #239b56; color: white;">
                  <i class="bi bi-file-earmark-excel"></i>
              </button>
          </div>

          <div class="col-auto btn-export-pdf">
              <button class="btn" (click)="exportToPDF()" style="background-color: red; color: white;">
                  <i class="bi bi-file-pdf"></i> 
              </button>
          </div>
      </div>
        </div>


        <!-- Tabla -->
        <div class="table-container">
            <table class="table table-striped fixed-table"
                style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;">
                @if (templates.length === 0) {
                <thead>
                    <tr>
                        <td colspan="5">
                            <div class="text-center p-2">
                                <div class="alert alert-secondary text-center" role="alert">
                                    No hay elementos para mostrar
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                } @else {
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(template of paginatedTemplates; track template.id) {
                    <tr>
                        <td>{{template.name}}</td>
                        <td>
                            @if (template.active) {
                            <p class="mb-0">
                                <i class="bi bi-check2-circle text-success" style="font-size: 1.5rem;"></i>
                            </p>
                            } @else {
                            <p class="mb-0">
                                <i class="bi bi-x-circle text-danger" style="font-size: 1.5rem;"></i>
                            </p>
                            }
                        </td>
                        <td>
                            <div class="btn-group" ngbDropdown role="group">
                                <button type="button" class="btn btn-sm btn-secondary" ngbDropdownToggle>
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <button ngbDropdownItem (click)="openPreviewModal(template)">
                                        Previsualizar
                                    </button>
                                    <button ngbDropdownItem (click)="openEditModal(template)">
                                        Editar
                                    </button>
                                    <button ngbDropdownItem (click)="openDeleteModal(template)">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
                }
            </table>
        </div>

        <!-- Paginación e Info -->
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="d-flex align-items-center">
                <select class="form-select me-3" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                    <option [value]="10">10 Elementos</option>
                    <option [value]="25">25 Elementos</option>
                    <option [value]="50">50 Elementos</option>
                </select>
            </div>

            <div class="d-flex align-items-center">
              <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
              (pageChange)="changePage($event)" [maxSize]="5" [boundaryLinks]="false"></ngb-pagination>

                <!-- <button class="btn btn-secondary ms-3 mb-3" (click)="showInfo()">
                    <i class="bi bi-info-circle"></i>
                </button> -->
            </div>
        </div>
</app-main-container>


<!-- Modal Notificación -->
<div class="modal" *ngIf="showModalToRenderHTML" (click)="closeModalToRenderHTML()">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModalToRenderHTML()">&times;</span>
      <iframe #iframePreview style="width: 100%; border: none;"></iframe>
      <div class="mt-3 text-end">
        <button type="button" class="btn btn-secondary" (click)="closeModalToRenderHTML()">Volver</button>
      </div>
  </div>
</div>


  <!-- Modal de Editar el Template -->
<div [class.show]="isEditModalOpen" [style.display]="isEditModalOpen ? 'block' : 'none'" class="modal fade"
tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar Plantillas</h5>
      <button type="button" class="btn-close" (click)="closeEditModal()"></button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <!-- Nombre -->
        <div class="mb-3">
          <label for="contactType" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombrePlantilla" name="nombrePlantilla" [(ngModel)]="editingtemplate.name">
        </div>

        <!-- Body -->
        <div class="mb-3">
          <label for="cuerpo" class="form-label">Cuerpo</label>
          <textarea class="form-control" id="cuerpo" name="cuerpo"
            [(ngModel)]="editingtemplate.body" required rows="10"></textarea>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveEditedTemplate()" [disabled]="!editForm.form.valid">
        Aceptar
      </button>
    </div>
  </div>
</div>
</div>

  <!-- Modal de Confirmacion de Eliminacion -->
  <div [class.show]="isDeleteModalOpen" [style.display]="isDeleteModalOpen ? 'block' : 'none'"
  class="modal fade delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        @if(templateToDelete){
        <p>¿Está seguro que desea eliminar el siguiente contacto?</p>
        <div class="contact-details mt-3">
          <p><strong>Nombre:</strong> {{templateToDelete.name}}</p>

        </div>
        } @else {
        <p>No se ha seleccionado ninguna plantilla para eliminar.</p>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()" [disabled]="!templateToDelete">
          Eliminar
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal de informacion -->
<div [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="isModalOpen = false"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2">
            <h5 class="alert-heading">Información sobre las Plantillas</h5>
            <p class="mb-0 small">Esta pantalla lista las plantillas disponible para el envio de correos electronicos.</p>
          </div>

          <!-- Descripción de los campos -->
          <div class="card mb-2">
            <div class="card-header">
              <h5 class="mb-0">Descripción de los Campos</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Nombre:</strong> El nombre de la plantilla de correo electrónico que identifica su contenido y propósito.
                </li>
                <li class="list-group-item">
                  <strong>Estado:</strong> Indica si la plantilla está activa o inactiva. Las plantillas activas se pueden utilizar para enviar notificaciones.
                </li>
                <li class="list-group-item">
                  <strong>Acciones:</strong> Opciones disponibles para cada plantilla, que incluyen previsualizar, editar y eliminar la plantilla.
                </li>
              </ul>
            </div>
          </div>

          <!-- Nota sobre la gestión de plantillas -->
          <div class="alert alert-warning mb-0">
            <h5 class="alert-heading">Nota sobre las Plantillas:</h5>
            <p class="mb-0 small">Asegúrate de gestionar adecuadamente tus plantillas para mantener una comunicación efectiva. Puedes editar o eliminar plantillas según sea necesario.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Volver</button>
      </div>
    </div>
  </div>
</div>
