.table-container {
    overflow-x: auto;
  }
  
  .fixed-table {
    min-width: 100%;
  }
  
  .subscription-list {
    margin: 0;
    padding: 0;
  }
  
  .subscription-item {
    display: flex;
    align-items: center;
    padding: 0.1rem 0;
  }
  
  .btn-group .dropdown-menu {
    min-width: auto;
  }
  
  .input-group {
    width: auto;
    margin-left: 1rem;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .dropdown-item i {
    width: 1rem;
    text-align: center;
  }
  
  .btn-group .dropdown-menu {
    min-width: 8rem;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-backdrop {
  
    z-index: 1040;
  }
  
  .modal {
    z-index: 1050;
  }
  
  .btn-export-pdf {
    margin-left: -1rem;
  }
  
  
.notification-time-modal {
  font-size: 0.8em;       
  color: #6c757d;        
  margin-left: auto;      
  align-self: center;    
  margin-right: 3%;
  margin-top: 3%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.5);
}
.modal-body {
  max-width: 100%;
  width: auto;
  height: auto;
}

.modal-dialog {
  max-width: 50%; 
  width: auto;    
  margin: 1rem auto; 
}

.modal-content {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 1rem;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
