<div class="d-flex">
    <!-- Sidebar -->
    <nav class="sidebar">
        <ul class="sidebar-list">
            <li><a routerLink="/templates/new">Registrar Template</a></li>
            <li><a routerLink="/templates">Listar Templates</a></li>
            <li><a routerLink="/send-email">Notificar</a></li>
            <!-- Agrega más enlaces si es necesario -->
        </ul>
    </nav>

    <!-- Main content -->
    <div class="main-content">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/templates/new">Registrar Template</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/templates">Listar Templates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/send-email">Notificar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact-audit">Auditoría Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
