.table-responsive {
  margin-bottom: 1rem;
}

.page-link {
  cursor: pointer;
}

.input-group {
  .btn {
    height: 38px;
  }
}

.table {
  thead {
    th {
      background-color: #212529;
      color: white;
    }
  }
}

.btn-group {
  .btn {
    &:focus {
      box-shadow: none;
    }
  }
}

.pagination {
  margin-bottom: 0;
}
