<app-main-container title="Listar Contactos" (infoButtonClick)="showInfo()">


    <div class="d-flex justify-content-between align-items-center mb-3">
      <!-- Sección de búsqueda y filtros -->
      <div class="btn-group me-5" role="group">
        <div class="col-sm-12 col-md-8 col-xl-10" id="general-search">
          <div class="input-group" style="max-width: 280px">
            <span class="input-group-text mr-3" id="search-icon">
              <i class="bi bi-search"></i>
            </span>
            <input
            [(ngModel)]="globalSearchTerm"
              type="text"
              class="form-control"
              id="filter-text-box"
              (input)="onGlobalSearchTextChange(globalSearchTerm)"
              placeholder="Buscar..."

            />
            <app-table-filters [filters]="filterConfig" (filterValueChange)="filterChange($event)" (clearFilters)="clearFilters()"></app-table-filters> 
          </div>
        </div>

      </div>

   

      <!-- Botones de exportación -->
    <div class="d-flex align-items-center">

        <button type="button" (click)="saveContact()" class="btn btn-outline-primary" aria-expanded="false">
          +
        </button>
        <div class="vertical-line mx-3"></div>
        <button class="btn btn-success me-2" (click)="exportToExcel()">
          <i class="bi bi-file-earmark-excel"></i>
        </button>

        <button class="btn btn-danger me-2" (click)="exportToPDF()">
          <i class="bi bi-file-pdf"></i>
        </button>

        <button class="btn me-2" (click)="openTelegramModal()" style="background-color: #0088cc; color: white; padding: 5px 10px; border-radius: 5px;">
          <svg fill="white" width="20px" height="24px" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <path d="M228.646,34.7676a11.96514,11.96514,0,0,0-12.21778-2.0752L31.87109,105.19729a11.99915,11.99915,0,0,0,2.03467,22.93457L84,138.15139v61.833a11.8137,11.8137,0,0,0,7.40771,11.08593,12.17148,12.17148,0,0,0,4.66846.94434,11.83219,11.83219,0,0,0,8.40918-3.5459l28.59619-28.59619L175.2749,217.003a11.89844,11.89844,0,0,0,7.88819,3.00195,12.112,12.112,0,0,0,3.72265-.59082,11.89762,11.89762,0,0,0,8.01319-8.73925L232.5127,46.542A11.97177,11.97177,0,0,0,228.646,34.7676ZM32.2749,116.71877a3.86572,3.86572,0,0,1,2.522-4.07617L203.97217,46.18044,87.07227,130.60769,35.47461,120.28811A3.86618,3.86618,0,0,1,32.2749,116.71877Zm66.55322,86.09375A3.99976,3.99976,0,0,1,92,199.9844V143.72048l35.064,30.85669ZM224.71484,44.7549,187.10107,208.88772a4.0003,4.0003,0,0,1-6.5415,2.10937l-86.1543-75.8164,129.66309-93.645A3.80732,3.80732,0,0,1,224.71484,44.7549Z"/>
          </svg>
        </button>

        @if (minimunContacts) {

          <button type="button" class="btn btn-outline-white me-2" style="background-color: #bcd8e5;" (click)="openEmailModal()"> 
            <i class="bi bi-envelope"></i>
          </button>

        }

    </div>
    </div>


    <!-- Tabla -->
    <div class="table-container">
      <table class="table table-striped fixed-table"
        style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;">
        @if (contacts.length === 0) {
        <thead>
          <td colspan="5">
            <div class="text-center p-2">
              <div class="alert alert-secondary text-center" role="alert">
                No hay elementos para mostrar
              </div>
            </div>
          </td>
        </thead>
        } @else {
        <thead>
          <tr>
            <th> <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAllContacts()" [checked]="allSelected"> </th>
            <th>Contacto</th>
            <th>Tipo de Contacto</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(contact of contacts; track contact.id) {
          <tr>
            <td> <input type="checkbox" (change)="selectContact(contact.id, $event)" [checked]="isContactSelected(contact.id)"> </td>
            <td>{{contact.contactValue}}</td>
            <td>{{contact.contactType}}</td>

            <td>
              @if (contact.active) {
              <p class="mb-0">
                <i class="bi bi-check2-circle text-success" style="font-size: 1.5rem;"></i>
              </p>
              } @else {
              <p class="mb-0">
                <i class="bi bi-x-circle text-danger" style="font-size: 1.5rem;"></i>
              </p>
              }
            </td>
            <td>
              <div class="btn-group" ngbDropdown role="group">
                <button type="button" class="btn btn-sm btn-secondary" ngbDropdownToggle>
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem (click)="openDetailModal(contact)">
                    Ver Detalle
                  </button>
                  <button ngbDropdownItem (click)="openEditModal(contact)">
                    Editar
                  </button>
                  <button ngbDropdownItem (click)="openDeleteModal(contact)">
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
        }
      </table>
    </div>

    <!-- Paginación e Info -->
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex align-items-center">
        <select class="form-select me-3" [(ngModel)]="pageSize" (change)="onItemsPerPageChange()">
          <option [value]="10">10 Elementos</option>
          <option [value]="25">25 Elementos</option>
          <option [value]="50">50 Elementos</option>
        </select>
      </div>

      <div class="d-flex align-items-center">
        <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="totalItems"
          (pageChange)="changePage($event)" [maxSize]="5" [boundaryLinks]="false"></ngb-pagination>

      </div>
    </div>




</app-main-container>


<!-- Modal de Edición -->
<div [class.show]="isEditModalOpen" [style.display]="isEditModalOpen ? 'block' : 'none'" class="modal fade"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Contacto</h5>
        <button type="button" class="btn-close" (click)="closeEditModal()"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <!-- Tipo de Contacto (No editable) -->
          <div class="mb-3">
            <label for="contactType" class="form-label">Tipo de Contacto</label>
            <input type="text" class="form-control" id="contactType" name="contactType" [(ngModel)]="editingContact.contactType" disabled>
          </div>

          <!-- Valor del Contacto -->
          <div class="mb-3">
            <label for="contactValue" class="form-label">Valor del Contacto</label>
            <input type="text" class="form-control" id="contactValue" name="contactValue"
              [(ngModel)]="editingContact.contactValue" required>
          </div>

          <!-- Suscripciones -->
          <div class="mb-3">
            <label class="form-label">Suscripciones</label>
            <div *ngFor="let subscription of availableSubscriptions; let i = index">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [id]="'subscription-' + i"
                  [checked]="isSubscribed(subscription)" (change)="toggleSubscription(subscription)">
                <label class="form-check-label" [for]="'subscription-' + i">
                  {{subscription}}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveEditedContact()" [disabled]="!editForm.form.valid">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Detalle del Contacto -->
<div [class.show]="isDetailModalOpen" [style.display]="isDetailModalOpen ? 'block' : 'none'" class="modal fade"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle del Contacto</h5>
        <button type="button" class="btn-close" (click)="closeDetailModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Tipo de Contacto -->
          <div class="mb-3">
            <label for="contactTypeDetail" class="form-label">Tipo de Contacto</label>
            <input type="text" class="form-control" id="contactTypeDetail" [value]="selectedContact?.contactType"
              readonly>
          </div>

          <!-- Valor del Contacto -->
          <div class="mb-3">
            <label for="contactValueDetail" class="form-label">Valor del Contacto</label>
            <input type="text" class="form-control" id="contactValueDetail" [value]="selectedContact?.contactValue"
              readonly>
          </div>

          <!-- Estado del Contacto -->
          <div class="mb-3">
            <label for="contactStatusDetail" class="form-label">Estado</label>
            <input type="text" class="form-control" id="contactStatusDetail"
              [value]="selectedContact?.active ? 'Activo' : 'Inactivo'" readonly>
          </div>

          <div *ngIf="selectedContact && selectedContact.subscriptions && selectedContact.subscriptions.length > 0"
            class="mb-3">
            <label class="form-label">Suscripciones</label>
            <ul class="list-unstyled">
              <li *ngFor="let subscription of selectedContact.subscriptions">
                <i class="bi bi-dot"></i> {{subscription}}
              </li>
            </ul>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDetailModal()">Volver</button>
      </div>
    </div>
  </div>
</div>



<div [class.show]="isDeleteModalOpen" [style.display]="isDeleteModalOpen ? 'block' : 'none'"
  class="modal fade delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        @if(contactToDelete){
        <p>¿Está seguro que desea eliminar el siguiente contacto?</p>
        <div class="contact-details mt-3">
          <p><strong>Tipo de Contacto:</strong> {{contactToDelete.contactType}}</p>
          <p><strong>Valor:</strong> {{contactToDelete.contactValue}}</p>
          @if(contactToDelete.subscriptions.length > 0){
          <p><strong>Suscripciones:</strong></p>
          <ul class="list-unstyled">
            @for(subscription of contactToDelete.subscriptions; track $index){
            <li><i class="bi bi-dot"></i> {{subscription}}</li>
            }
          </ul>
          }
        </div>
        } @else {
        <p>No se ha seleccionado ningún contacto para eliminar.</p>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()" [disabled]="!contactToDelete">
          Eliminar
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Información -->
<div [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="isModalOpen = false"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2">
            <h5 class="alert-heading">Información sobre los Contactos</h5>
            <p class="mb-0 small">Esta tabla presenta una lista de contactos registrados, junto con su tipo y estado de actividad.</p>
          </div>

          <!-- Descripción de los campos -->
          <div class="card mb-2">
            <div class="card-header">
              <h5 class="mb-0">Descripción de los Campos</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Contacto:</strong> Dirección de correo electrónico del contacto registrado.
                </li>
                <li class="list-group-item">
                  <strong>Tipo de Contacto:</strong> Tipo de comunicación (en este caso, todos son correos electrónicos).
                </li>
                <li class="list-group-item">
                  <strong>Estado:</strong> Indica si el contacto está activo, marcado con un ícono de verificación (✅).
                </li>
                <li class="list-group-item">
                  <strong>Acciones:</strong> Opciones para gestionar el contacto, como editar o eliminar.
                </li>
              </ul>
            </div>
          </div>

          <!-- Nota (OPCIONAL) -->
          <div class="alert alert-warning mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">Los contactos marcados como activos están disponibles para su uso en futuras notificaciones.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Volver</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Telegram -->
<div [class.show]="isTelegramModalOpen" [style.display]="isTelegramModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enviar a Telegram</h5>
        <button type="button" class="btn-close" (click)="closeTelegramModal()"></button>
      </div>
      <div class="modal-body">
        <app-telegram-sender *ngIf="isTelegramModalOpen"></app-telegram-sender>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeTelegramModal()">Volver</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Enviar Correo -->
<div [class.show]="isEmailModalOpen" [style.display]="isEmailModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enviar Correo a Contactos</h5>
        <button type="button" class="btn-close" (click)="closeEmailModal()"></button>
      </div>
      <div class="modal-body">
        <div name="allSelectedContacts">
          <p>Tus contactos seleccionados: {{selectedContacts.length}}</p>
          <!-- <ul>
            @for(c of selectedContacts; track $index) {
              <li> {{showNameById(c)}} </li>
            }
          </ul> -->
          
        </div>
        <form>
          <div class="mb-3">
            <label for="emailSubject" class="form-label">Asunto</label>
            <input #subject="ngModel" type="text" class="form-control" id="emailSubject" name="subject" [(ngModel)]="emailSubject">
          </div>

          <div class="mb-3">
            <label for="emailBody" class="form-label">Plantilla</label>
            <select #template="ngModel" name="template" class="form-select" [(ngModel)]="selectedTemplate">
              @for(t of allTemplates; track $index) {
                <option [value]="t.id"> {{t.name}} </option>
              }
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEmailModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="sendEmail()">Enviar</button>
      </div>
    </div>
  </div>
</div>
